body {
  width: 75%;
  margin: auto;
}
TD {
  border: 1px solid #FFFFFF;
  background-color: #dfdfdf;
  width: 100%;
  font-family: Verdana, Arial Narrow,  helvetica, sans-serif;
  color: #000000;
  text-align: center;
  font-style: normal;
  border-collapse: collapse;
}
TD.subject {
  color: #444444;
  background-color: #FFFFFF;
  font-size: 35px;
  font-weight: bold;
  padding-top: 30px;
}
TD.course {
  background-color: #B0C5DE;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  border-top: 15px solid #FFFFFF;
}
TD.smallheader {
  width: 2%;
}
TD.mediumheader {
  width: 7%;
}
TD.largeheader {
  width: 14%;
}
TD.bigheader {
  width: 16%;
}
TD.smallclass {
  background-color: #efefef;
  width: 2%;
}
TD.mediumclass {
  background-color: #efefef;
  width: 7%;
}
TD.largeclass {
  background-color: #efefef;
  width: 14%;
}
TD.bigclass {
  background-color: #efefef;
  width: 16%;
}
