<!DOCTYPE html>
{% set header = "</td> <td>".join(sort) %}
<html lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="styles/main.css">
	<title>{{term}}</title>
</head>
<body>
<div class=head>
<h1 style="border-top:20px solid #222;">Antelope Valley College</h1>
<h3><ul>
{% for termlink in terms %}
	<li><a href="{{termlink}}">{{termlink}}</a></li>
{% endfor %}
</ul></h3></div>
<h1>{{term}} classes</h1>
<input type="text" id="searchid" class="search" placeholder="Search Courses">
<p>
Only accepts subject abbrevations like "ABDY 112" for Auto Body 112.<br>
You can use "&amp;" to seperate course searches.<br>
Example: "math 220 &amp; phys" searches for math 220 classes, and all physics courses and classes.
</p>
<div id="term">
<div class=alphabet id={{firstLetter}}>
{% for subject in data["classes"].keys()|sort %}
	{% if loop.previtem and loop.previtem[0] != subject[0] %}
		</div>
		<div class=alphabet id={{subject[0]}}>
	{% endif %}
	<table class=subjects id={{subject.split("-")[0]}}>
	<tbody id="subject">
	<tr>
	<td class=subject colspan=20>{{subject}}</td>
	</tr>
	</tbody>
	{% for course in data["classes"][subject].keys()|sort %}
		<tbody class=courses id="{{course.split("-")[0][:-1]}}">
		<tr> 
		<td class=course colspan=20>{{course}}</td>
		</tr>
		<tr class=header>
		<td>{{header | safe}}</td>
		</tr>
		{% for class in data["classes"][subject][course] %}
		<tr class=classes>
			{% for key in sort %}
				<td>{{class[key]}}</td>
			{% endfor %}
		</tr>
			{% for lab in data["labs"][class["crn"]] %}
			<tr class=classes>
			<td colspan=6></td>
				{% for key in labsort %}
					<td>{{lab[key]}}</td>
				{% endfor %}
			<td colspan=1></td>
			</tr>
			{% endfor %}
		{% endfor %}
		</tbody>
	{% endfor %}
	</table>
{% endfor %}
</div>
</div>
<script src="scripts/search.js"></script> 
</body>
</html>
