p {
  border-width: 1px;
}
div.head {
  background: #333;
  width: 100%;
  margin: 0 auto;
}
body {
  color: #ddd;
  background: #222;
  width: 80%;
  margin: auto;
  font-family: Tahoma;
  text-align: center;
}
ul {
  display: table;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  color: #7db6e8;
  text-align: center;
  padding: 36px;
  text-decoration: none;
}
h1 {
  text-transform: capitalize;
}
h3 {
  border-bottom: 55px solid #222;
}
table {
  background: #222;
  font-size: 10px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
  color: #bbb;
}
table tr.classes {
  color: #ddd;
  background: #555;
}
table tr.classes:nth-child(even) {
  background: #444;
}
table tbody tr.header {
  background: #333;
}
table tbody td {
  border: 1px solid #222;
  padding: 1px 1px;
  font-size: 17px;
}
table td.subject {
  color: #eee;
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
}
table td.course {
  background-color: #222;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  border-top: 10px solid #222;
}
.search {
  border: 2px solid #aaa;
  border-radius: 5px;
  height: 24px;
  width: 100%;
  background-color:#333;
}
input[type=text]{
  font-size: 22px;
  color: #ddd;
}
.search:hover, .search:focus {
  border: 2px solid #fff;
}
